.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 400px;

}
.cinza{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #a222d9;
   
    width: 400px;
    color: #eee;

}

.divider{
    width: 392px;
    height: 1px;
    background-color: #ce86e6;
    padding-left: 8px;
}
.tarefa{
    display: flex;
    justify-content: space-between;
    margin-left: 500px;
    width: 20%;
}
#btn1{
    cursor: pointer;
}
.tudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sla{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
   
}
.task{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 350px;
    padding: 2px 0 ;  

}
.dois{
    display: flex;
    align-items: center;
    gap: 1px;
}